<html>
<head>
<meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="viewport" 
id="iphone-viewport" 
content="width=480, 
user-scalable=no,
maximum-scale=0.6667" />
<title> Grouping member. </title>
</head>
<body>
<h1>ぐるーぷわけの自動くじ引き</h1>
<div>
<form>
<label>全員の人数</label><input id='total' type='text' /><br>
<label>1グループの人数</label><input id='member' type='text' /><br>
<input id='exec' type='submit'>
</form>
</div>
<div>
結果！
<table id='result'>
<tr>
<th>グループ名</th><th>番号</th>
<tr>

</table>
<div>
</body>
</html>